*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#demo{
    font-size: 100px;
    color: rgb(13, 169, 88);
}
button{
    width: 200px;
    height: 70px;
    color: black;
    background-color: red;
}